.mainDiv{
    width:100%;
    margin: 2rem auto;
}

.button{
    width: 21%;
    height: 3.0rem;
    margin : 0 3%;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight : bold;
    border-radius : 0.5rem;
    border: solid 2px #795548;
    background-color: white;
    color: #795548;
}

.button:hover{
    background-color: #795548;
    color: white;
    transition: 0.3s;
}